body {
	background: #ffffff url("../img/background.png") no-repeat center top;
	background-size: 1400px 757px;
	color: #010101;
	margin: 0;
	padding: 0;
	min-width: 960px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
}
.container {
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
.inscription {
	color: #010101;
	font-size: 32px;
	line-height: 18px;
}
.description {
	color: #313841;
	font-size: 20px;
	line-height: 24px;
}
.annotation {
	color: #555555;
	font-size: 16px;
	line-height: 20px;
}
.main-header {
	margin-bottom: 58px;
}
.main-header .container {
	display: flex;
	justify-content: space-between;
}
.main-header .index-logo {
	margin-top: 60px;
	margin-left: 8px;
}
.main-header .main-navigation {
	max-width: 702px;
}
.main-navigation ul {
	list-style: none;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.main-navigation li {
	display: inline-block;
	font-size: 22px;
	vertical-align: top;
	line-height: 20px;
}
.main-navigation a {
	display: block;
	justify-content: flex-end;
	padding-top: 75px;
	padding-right: 3px;
	padding-left: 70px;
	text-decoration: none;
	color: #010101;
}
.slider {
	display: flex;
	justify-content: space-between;
	min-height: 455px;
	flex-wrap: wrap;
	margin-bottom: 44px;
}

.slider .slider-left-part {
	width: 480px;
	padding: 73px 11px 0;
}
.slider-left-part-OS {
	margin-top: 39px;
}
.slider-left-part-OS img {
	padding-right: 38px; 
}
.slider .slider-right-part {
	padding-right: 43px;
}
.dots {
	margin-bottom: 174px;
	width: auto;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dots div {
	height: 14px;
	width: 14px;
	border-radius: 100%;
	background: #feed80;
	margin-right: 7px;
}
.dots div::last-child {
	margin-right: 0;
}
.dots .active {
	background-color: #ffffff;
}
.introductory {
	width: 738px;
	margin: 0 auto 90px;
}
.introductory .inscription,
.introductory .description {
	text-align: center;
}
.features {
	margin-bottom: 77px;
}
.features-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.features-item {
	width: 300px;
	padding-bottom: 90px;
}
.features-item-block {
	display: flex;
	justify-content: space-between;
}
.features-item-block .img {
	margin: 0 auto;
}
.features-item-block .content {
	width: 220px;
}
.features-item-block h3 {
	color: #010101;
	font-size: 22px;
	line-height: 24px;
	margin-top: 0;
}
.main-footer {
	padding-top: 100px;
	background: url("../img/footer-background.png") 63px 63px repeat;
}
.main-footer .inscription {
	color: #fcdb00;
	margin-top: 0;
}
.main-footer .description {
	color: #898989;
}
.footer-content {
	margin: 0 auto 79px;
	text-align: center;
	width: 760px;
}
.footer-content form {
	margin: 0;
	margin-top: 45px;
	padding: 0;
	width: 750px;
}
.footer-content input[type="text"] {
	border-style: none;
	border-radius: 5px;
	color: #898989;
	font-size: 16px;
	line-height: 20px;
	padding-left: 23px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 0;
	margin-right: 20px;
	vertical-align: top;
	height: 41px;
	width: 558px;
}
.footer-content .btn {
	font-weight: bold;
	background-color: #fcdb00;
	border-radius: 5px;
	border-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 126px;
	height: 50px;
}
.footer-social {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto 138px;
	text-align: center;
	width: 292px;
}
.social-btn {
	background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    margin-right: 32px;
}
.social-btn-fb {
	width: 36px;
    height: 36px;
    background-position: -1px -1px;
}
.social-btn-tw {
	width: 36px;
    height: 36px;
    background-position: -115px -1px;
}
.social-btn-g {
	width: 36px;
    height: 36px;
    background-position: -39px -1px;
}
.social-btn-pi {
	width: 36px;
    height: 36px;
    background-position: -77px -1px;
}
.footer-contacts {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 140px;
}
.footer-contacts p {
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 290px;
}
.second-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	padding-left: 10px;
	width: 140px;
}
.second-menu:last-child {
	width: 130px;
}
.second-menu li {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}
.second-menu a {
	text-decoration: none;
	color: #ffffff;
}