body {
	background: #ffffff url("../img/background.png") no-repeat center top;
	background-size: 1400px 757px;
	color: #010101;
	margin: 0;
	padding: 0;
	min-width: 960px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
}
.container {
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
.inscription {
	color: #010101;
	font-size: 48px;
	line-height: 18px;
}
.description {
	color: #313841;
	font-size: 20px;
	line-height: 24px;
}
.annotation {
	color: #555555;
	font-size: 20px;
	line-height: 24px;
}
.header-container {
	margin-bottom: 225px;
}
.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}
.hide-menu {
	margin-left: 10px;
	border-bottom: 10px double black;
	border-top: 3px solid black;
	content: "";
	height: 4px;
	width: 19px;
}
.main-header .index-logo {
	margin-left: 361px;
}
.index-logo img {
	width: 149px;
	height: 43px;
}
.header-social {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	margin-left: 258px;
	width: 142px;
}
.social-btn {
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    margin-right: 22px;
}
.social-btn:last-child {
	margin-right: 0;
}
.social-btn-fb {
	width: 21px;
    height: 20px;
    background-position: -1px -1px;
}
.social-btn-tw {
	width: 21px;
    height: 20px;
    background-position: -64px -1px;
}
.social-btn-g {
	width: 23px;
    height: 20px;
    background-position: -22px -1px;
}
.social-btn-pi {
	width: 21px;
    height: 20px;
    background-position: -43px -1px;
}
.slider {
	flex-wrap: wrap;
	margin-bottom: 149px;
}
.slider .slider-left-part {
	margin: 0 auto;
	text-align: center;
	width: 760px;
}
.slider-left-part-OS {
	margin: 32px auto 0;
	width: 279px;
	display: flex;
	justify-content: center;
}
.slider-left-part-OS .circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	border-radius: 50%;
	margin-right: 36px;
	width: 69px;
	height: 69px;
}
.slider-left-part-OS .circle:last-child {
	margin-right: 0px;
}
.dots {
	margin-bottom: 174px;
	width: auto;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dots div {
	height: 14px;
	width: 14px;
	border-radius: 100%;
	background: #feed80;
	margin-right: 7px;
}
.dots div::last-child {
	margin-right: 0;
}
.dots .active {
	background-color: #ffffff;
}
.introductory {
	width: 738px;
	margin: 0 auto 66px;
}
.introductory .inscription,
.introductory .description {
	text-align: center;
}
.introductory .inscription {
	font-size: 32px;
	line-height: 32px;
}
.features {
	margin-bottom: 96px;
}
.features-items {
	display: flex;
	justify-content: space-between;
}
.features-item-block img {
	width: 316px;
	height: 470px;
}
.features-item-block .content {
	width: 220px;
	margin-bottom: 40px;
}
.features-item-block h3 {
	color: #010101;
	font-size: 22px;
	line-height: 24px;
	margin-top: 0;
}
.features-item-block .annotation {
	font-size: 16px;
	line-height: 20px;
}
.main-footer {
	padding-top: 103px;
	background: url("../img/footer-background.png") 63px 63px repeat;
}
.main-footer .inscription {
	font-size: 32px;
	line-height: 32px;
	color: #fcdb00;
	margin-top: 0;
}
.main-footer .description {
	color: #898989;
}
.footer-content {
	margin: 0 auto 79px;
	text-align: center;
	width: 760px;
}
.footer-content form {
	margin: 0;
	margin-top: 45px;
	padding: 0;
	width: 750px;
}
.footer-content input[type="text"] {
	border-style: none;
	border-radius: 5px;
	color: #898989;
	font-size: 16px;
	line-height: 20px;
	padding-left: 23px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 0;
	margin-right: 20px;
	vertical-align: top;
	height: 41px;
	width: 558px;
}
.footer-content .btn {
	font-weight: bold;
	background-color: #fcdb00;
	border-radius: 5px;
	border-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 126px;
	height: 50px;
}
.footer-contacts {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 140px;
}
.footer-contacts p {
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: 290px;
}
.second-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	padding-left: 10px;
	padding-bottom: 7px;
	width: 140px;
}
.second-menu:last-child {
	width: 130px;
}
.second-menu li {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}
.second-menu a {
	text-decoration: none;
	color: #ffffff;
}